* {
  background-color: beige;
  box-sizing: border-box;
}

.container {
  background-color: beige;
  display: block;
  margin: 10px;
}

.container-md {
  background-color: beige;
  border: black solid 1px;
  padding: 10px;
}

.form-control {
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  padding: 10px;
}

nav .nav-bar {
  background-color: inherit;
}

.options {
  display: flex;
  gap: 10px;
}

h1 {
  text-align: center;
}